@model CourseRegistration1.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h4>Create Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="C_id" class="control-label"></label>
                <input asp-for="C_id" class="form-control" />
                <span asp-validation-for="C_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_num" class="control-label"></label>
                <input asp-for="C_num" class="form-control" />
                <span asp-validation-for="C_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_name" class="control-label"></label>
                <input asp-for="C_name" class="form-control" />
                <span asp-validation-for="C_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_descr" class="control-label"></label>
                <input asp-for="C_descr" class="form-control" />
                <span asp-validation-for="C_descr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
